<html lang="ua">
    <head>

        <link rel="stylesheet" href="../web/owl/owl.carousel.min.css">
        <link rel="stylesheet" href="../web/owl/owl.theme.default.min.css">
        <link rel="stylesheet" type="text/css" href="../web/css/styles.css">
        <link rel="stylesheet" type="text/css" href="../web/css/article-styles.css">
        <link rel="stylesheet" type="text/css" href="../web/css/company-styles.css">
        <link rel="stylesheet" type="text/css" href="../web/css/designers-styles.css">
        <link rel="stylesheet" type="text/css" href="../web/css/news-styles.css">
        <link rel="stylesheet" type="text/css" href="../web/css/project-styles.css">
        <link rel="stylesheet" type="text/css" href="../web/css/projects-styles.css">
        <link rel="stylesheet" type="text/css" href="../web/css/search-styles.css">
        <link rel="stylesheet" type="text/css" href="../web/css/service-styles.css">
        <link rel="stylesheet" type="text/css" href="../web/css/techinfo-styles.css">
        <link rel="stylesheet" type="text/css" href="../web/css/catalog-styles.css">
        <link rel="stylesheet" type="text/css" href="../web/css/catalog-cart-styles.css">
        <link rel="stylesheet" type="text/css" href="../web/css/media.css">
        <title>Comfort Heat</title>
    </head>








        
        <script src="../web/js/jquery-3.3.1.js"></script>
        <script src="../web/owl/owl.carousel.min.js"></script>
        <script src="../web/js/scripts.js"></script>
    </body>
</html>