<html lang="ua">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="owl/owl.carousel.min.css">
        <link rel="stylesheet" href="owl/owl.theme.default.min.css">
        <link rel="stylesheet" type="text/css" href="styles.css">
        <link rel="stylesheet" type="text/css" href="article-styles.css">
        <link rel="stylesheet" type="text/css" href="company-styles.css">
        <link rel="stylesheet" type="text/css" href="designers-styles.css">
        <link rel="stylesheet" type="text/css" href="news-styles.css">
        <link rel="stylesheet" type="text/css" href="project-styles.css">
        <link rel="stylesheet" type="text/css" href="projects-styles.css">
        <link rel="stylesheet" type="text/css" href="search-styles.css">
        <link rel="stylesheet" type="text/css" href="service-styles.css">
        <link rel="stylesheet" type="text/css" href="techinfo-styles.css">
        <link rel="stylesheet" type="text/css" href="catalog-styles.css">
        <link rel="stylesheet" type="text/css" href="catalog-cart-styles.css">
        <link rel="stylesheet" type="text/css" href="media.css">
        <title>Comfort Heat</title>
    </head>

    <body>

        <!------- Окно каталог средний ------->
            
            <div class="catalog-mr" id="catalog-mr">
                <div class="d-flex jcsb aic">
                    <div class="heading">
                        Каталог продукції
                    </div>
                    <div id="catalog-close-mr" class="catalog-close-mr">
                        <img src="images/closetr.svg" alt="">
                    </div>
                </div>
                <div class="d-flex catalog-mr-block">
                    <div class="catalog-mr-part">
                        <div class="catalog-mr-item">
                            <div>Тепла підлога</div>
                            <a href="#">Під плитку</a>
                            <a href="#">В стяжку</a>
                            <a href="#">Під ламінат</a>
                        </div>
                        <div class="catalog-mr-item">
                            <div>Вуличні системи</div>
                            <a href="#">
                                Обігрів водостічної системи
                            </a>
                            <a href="#">
                                Захист труб від замерзання
                            </a>
                        </div>
                        <div class="catalog-mr-item">
                            <div>Нагрівальні мати</div>
                            <a href="#">Під плитку</a>
                            <a href="#">В стяжку</a>
                        </div>
                        <div class="catalog-mr-item">
                            <div>Терморегулятори</div>
                            <a href="#">
                                Сніготанення вуличних майданчиків
                            </a>
                            <a href="#">
                                Обігрів водостічної системи
                            </a>
                            <a href="#">
                                Захист труб від замерзання
                            </a>
                        </div>
                    </div>
                    <div class="catalog-mr-part">
                        <div class="catalog-mr-item">
                            <div>Опалення</div>
                            <a href="#">
                                Сніготанення вуличних майданчиків
                            </a>
                            <a href="#">
                                Обігрів водостічної системи
                            </a>
                            <a href="#">
                                Захист труб від замерзання
                            </a>
                        </div>
                        <div class="catalog-mr-item">
                            <div>Технологічний обігрів</div>
                            <a href="#">
                                В стяжку
                            </a>
                        </div>
                        <div class="catalog-mr-item">
                            <div>Нагрівальні кабелі</div>
                            <a href="#">
                                Обігрів водостічної системи
                            </a>
                            <a href="#">
                                Захист труб від замерзання
                            </a>
                        </div>
                        <div class="catalog-mr-item">
                            <div>Додаткове обладнання</div>
                            <a href="#">
                                Обігрів водостічної системи
                            </a>
                            <a href="#">
                                Захист труб від замерзання
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        <!------- Окно бургер меню ------->
        
        <div class="burger-menu" id="burger-menu">
            <div class="burger-menu-top d-flex jcsb aic">
                <img src="images/logo-foot.svg" alt="" class="burger-menu-logo">
                <button class="burger-menu-catalog" id="burger-menu-catalog">
                    <img src="images/menu-left.svg" alt="">
                    Каталог продукції
                </button>
                <div id="burger-close" class="burger-close">
                    <img src="images/close.svg" alt="">
                </div>
            </div>
            <div class="burger-menu-mid d-flex">
                <div class="burger-menu-mid-serch">
                    <form action="">
                        <input type="text" class="burger-search-text">
                        <label for="submit" class="search-img">
                            <input type="submit" id="search-submit">
                        </label>
                    </form>
                </div>
                <a href="news.html">Новини</a>
                <a href="service.html">Сервіс та обслуговування</a>
                <a href="techinfo.html">Технічна інформація</a>
                <a href="designers.html">Дизайнерам та архітекторам</a>
                <a href="company.html">Компанія</a>
            </div>
            <div class="burger-menu-bottom">
                <div class="d-flex">
                    <div class="burger-menu-bottom-links1">
                        <a href="tel:+380967246400">
                            <img src="images/kyivstar.svg" alt="">
                            +38 096 724 64 00
                        </a><br>
                        <a href="tel:+380997246400">
                            <img src="images/vodafone.svg" alt="">
                            +38 099 724 64 00
                        </a>
                    </div>
                    <div class="burger-menu-bottom-links2">
                        <a href="mailto:office@comfortheat.kiev.ua">office@comfortheat.kiev.ua</a>
                        <div>
                            м. Київ, вул. В. Хвойки, 10, оф. 3
                        </div>
                    </div>
                </div>
                <div class="burger-menu-bottom-social">
                    <a href="#"><img src="images/fb-blue.svg" alt=""></a>
                    <a href="#"><img src="images/insta-blue.svg" alt=""></a>
                    <a href="#"><img src="images/in-blue.svg" alt=""></a>
                </div>
            </div>
        </div>    

        <!------- Модальные окна ------->

        <div class="modal-bcg" id="modal-bcg">
            
            <!------- Окно поиск ------->

            <div class="search" id="search">
                <form action="">
                    <input type="text" class="search-text">
                    <label for="submit" class="search-img">
                        <input type="submit" id="search-submit">
                    </label>    
                </form>
            </div>

            <!------- Окно каталог большой ------->
            <div class="catalog" id="catalog">
                <div class="d-flex">
                    <div class="catalog-left">
                        <button>
                            Тепла підлога
                            <img src="images/arrow-orange.svg" alt="">
                        </button>
                        <button>
                            Опалення
                            <img src="images/arrow-orange.svg" alt="">
                        </button>
                        <button>
                            Вуличні системи
                            <img src="images/arrow-orange.svg" alt="">
                        </button>
                        <button>
                            Технологічний обігрів
                            <img src="images/arrow-orange.svg" alt="">
                        </button>
                        <button>
                            Нагрівальні мати
                            <img src="images/arrow-orange.svg" alt="">
                        </button>
                        <button>
                            Нагрівальні кабелі
                            <img src="images/arrow-orange.svg" alt="">
                        </button>
                        <button>
                            Терморегулятори
                            <img src="images/arrow-orange.svg" alt="">
                        </button>
                        <button>
                            Додаткове обладнання
                            <img src="images/arrow-orange.svg" alt="">
                        </button>
                    </div>
                    <div class="catalog-right">
                        <a href="catalog.html">
                            Сніготанення вуличних майданчиків
                        </a>
                        <a href="catalog.html">
                            Обігрів водостічної системи
                        </a>
                        <a href="catalog.html">
                            Захист труб від замерзання
                        </a>
                        <div id="catalog-close" class="catalog-close"></div>
                    </div>
                </div>
            </div>
            
        </div>

        <!------- proposition ------->

        <div class="proposition d-flex aic">
            <div>
                <h5>Спеціальні пропозиції</h5>
            </div>
            <a href="#" class="d-flex">
                <img src="images/img4.svg" alt="">
                Монтаж газового котла<br>зі знижкою -50%
            </a>
            <a href="#" class="d-flex">
                <img src="images/img5.svg" alt="">
                Нагрівальний кабель<br>DEVIflex
            </a>
            <a href="#" class="d-flex">
                <img src="images/img6.svg" alt="">
                Тонкий нагрівальний<br>кабель CTAV-18 260W<br>14м
            </a>
        </div>

        <!------- Хедер ------->

        <header>

            <!-- Хедер большой -->

            <div class="block header-hr">

                <div class="head-top d-flex jcsb">
                    <div class="head-top-left">
                        <a href="news.html">Новини</a>
                        <a href="service.html">Сервіс та обслуговування</a>
                        <a href="techinfo.html">Технічна інформація</a>
                        <a href="designers.html">Дизайнерам та архітекторам</a>
                        <a href="company.html">Компанія</a>
                    </div>
                    <div class="head-top-right">
                        <a href="#"><img src="images/fb-blue.svg" alt=""></a>
                        <a href="#"><img src="images/insta-blue.svg" alt=""></a>
                        <a href="#"><img src="images/in-blue.svg" alt=""></a>
                    </div>
                </div>

                <div class="head-down d-flex jcsb aic">
                    <div class="d-flex aic">
                        <a href="index.html">
                            <div class="d-flex logo-head">
                                <div>
                                    <img src="images/logo-head.svg" alt="">
                                </div>
                                <div>
                                    <p>Smart</p>
                                    <p>Heating</p>
                                    <p>Solutions</p>
                                </div>
                            </div>
                        </a>
                        <div class="d-flex head-phones aic">
                            <a href="tel:+380967246400">
                                <img src="images/kyivstar.svg" alt="">
                                +38 096 724 64 00
                            </a>
                            <a href="tel:+380997246400">
                                <img src="images/vodafone.svg" alt="">
                                +38 099 724 64 00
                            </a>
                        </div>
                        <div class="d-flex head-info">
                            <a href="mailto:office@comfortheat.kiev.ua">office@comfortheat.kiev.ua</a>
                            <div>м. Київ, вул. В. Хвойки, 10, оф. 3</div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <button class="search-btn" id="search-btn">
                            <img src="images/search.svg" alt="">
                            Пошук
                        </button>
                        <button class="catalog-button" id="catalog-button">
                            <img src="images/menu-left.svg" alt="">
                            Каталог продукції
                        </button>
                    </div>
                </div>
            </div>

            <!-- Хедер средний -->

            <div class="block header-mr">
                <div class="head-mr-top d-flex">
                    <a href="tel:+380967246400">
                        <img src="images/kyivstar.svg" alt="">
                        +38 096 724 64 00
                    </a>
                    <a href="tel:+380997246400">
                        <img src="images/vodafone.svg" alt="">
                        +38 099 724 64 00
                    </a>
                </div>
                <div class="head-mr-bottom d-flex jcsb aic">
                    <a href="index.html">
                        <div class="d-flex logo-head">
                            <div>
                                <img src="images/logo-head.svg" alt="">
                            </div>
                            <div>
                                <p>Smart</p>
                                <p>Heating</p>
                                <p>Solutions</p>
                            </div>
                        </div>
                    </a>
                    <div class="d-flex">
                        <button class="head-mr-bottom-search"
                        id="head-mr-search">
                            <img src="images/search.svg" alt="">
                        </button>
                        <button class="catalog-button-mr" id="catalog-button-mr">
                            <img src="images/menu-left.svg" alt="">
                            Каталог продукції
                        </button>
                        <button class="head-mr-bottom-burger" id="head-mr-burger">
                            <img src="images/burger.svg" alt="">
                        </button>
                        <button class="head-ms-burger d-flex aic"
                        id="head-ms-burger">
                            <img src="images/burger.svg" alt="">
                            Меню
                        </button>
                    </div>
                </div>
            </div>
        </header>

        <!------- Секция 1 ------->

        <section class="sect-1">
            <div class="block">
                <h1>Професійне<br>
                партнерство</h1>
                <!--  
                <button>
                    Стати партнером
                    <img src="images/arrow-white.svg" alt="">
                </button>
                -->
            </div>
        </section>

        <!------- Секция 2 ------->

        <section class="sect-2">
            <div class="block d-flex jcsb">
                <div class="sect-2-left">
                    <h3>
                        Comfort Heat — сучасний європейський виробник з 25-річним досвідом в області нагрівальних кабельних систем та рішень
                    </h3>
                    <p>Мы разрабатываем и производим нагревательные кабели, нагревательные маты, термостаты и аксессуары, применяемые во всех областях строительства и ремонта – от жилого и коммерческого до масштабных профессиональных решений, таких как электростанции, нефтеперерабатывающие заводы, железнодорожная инфраструктура, спортивные сооружения, объекты сельского хозяйства и пищевой промышленности.
                    </p>
                    <p>    
                    Нагревательные системы Comfort Heat долговечные, экологичны, обеспечивают максимальный уровень комфорта и безопасности при низком энергопотреблении и минимальных затратах на техническое обслуживание.
                    </p>
                    <a href="company.html">
                        Більше про компанію
                        <img src="images/arrow-blue.svg" alt="">
                    </a>
                </div>
                <div class="sect-2-right">
                    <div class="years25"></div>
                    <div class="sect-2-img"></div>
                </div>
            </div>
        </section>

        <!------- Секция 3 ------->

        <section class="sect-3">
            <div class="block">
                <h3>Проекти</h3>
            </div>
            <div class="block d-flex jcsb">

                <div class="sect-3-half">
                    <div class="sect-3-item">
                        Новое административное здание АО SEB bankas ул. Р.Баравико, Вильнюс, 2020, Литва
                        <a href="projects.html" class="project-button">
                            Детальніше
                            <img src="images/arrow-white.svg" alt="">
                        </a>
                    </div>
                    <div class="sect-3-item">
                        Завод Oреон Глобал ПЭТ, Клайпеда, Литва, 2014
                        <a href="projects.html" class="project-button">
                            Детальніше
                            <img src="images/arrow-white.svg" alt="">
                        </a>
                    </div>
                </div>

                <div class="sect-3-half">
                    <div class="sect-3-item sect-3-item-bcg">
                        Отель „Hilton Garden Inn“, Вильнюс, 2019
                        <a href="projects.html" class="project-button-img">
                            Детальніше
                            <img src="images/arrow-white.svg" alt="">
                        </a>
                    </div>
                    <div class="sect-3-item">
                        Snow Arena, Друскининкай, Литва, 2011
                        <a href="projects.html" class="project-button">
                            Детальніше
                            <img src="images/arrow-white.svg" alt="">
                        </a>
                    </div>
                </div>

            </div>
            <div class="block">
                <a href="projects.html" class="sect-3-but">
                    Більше проектів
                    <img src="images/arrow-white.svg" alt="">
                </a>
            </div>
        </section> 

        <!------- Секция 4 ------->

        <section class="sect-4">
            <div class="block">
                <h1>Професійне співробітництво</h1>
                <p>Досвід Comfort Heat та високі стандарти компанії є міцною основою в реалізації проектів будь-якої складності.</p>
                <a href="#" class="project-button">
                    Стати партнером
                    <img src="images/arrow-blue.svg" alt="">
                </a>
            </div>
        </section>

        <!------- Футер ------->

        <footer>
            <div class="block d-flex">

                <div class="foot-left">
                     <div class="foot-left-block">
                        <div class="foot-logo">
                            <img src="images/logo-foot.svg" alt="">
                        </div>
                        <h6>Контакти</h6>
                        <p>м. Київ, вул. В. Хвойки, 10, оф. 3</p>
                        <a href="tel:+380967246400">
                            <img src="images/kyivstar.svg" alt="">
                            +38 096 724 64 00
                        </a>
                        <a href="tel:+380997246400">
                            <img src="images/vodafone.svg" alt="">
                            +38 099 724 64 00
                        </a>
                        <a href="tel:+380937246400">
                            <img src="images/lifecell.svg" alt="">
                            +38 093 724 64 00
                        </a>
                        <a href="mailto:office@comfortheat.kiev.ua" class="foot-mail">office@comfortheat.kiev.ua
                        </a>
                        <div class="d-flex foot-social">
                            <a href="#"><img src="images/fb-white.svg" alt=""></a>
                            <a href="#"><img src="images/insta-white.svg" alt=""></a>
                            <a href="#"><img src="images/in-white.svg" alt=""></a>    
                        </div>
                        <div class="d-flex foot-links">
                            <a href="news.html">Новини</a>
                            <a href="service.html">Сервіс та обслуговування</a>
                            <a href="techinfo.html">Технічна інформація</a>
                            <a href="designers.html">Дизайнерам та архітекторам</a>
                            <a href="company.html">Компанія</a>
                        </div>
                     </div>
                </div>

                <div class="foot-right">
                    <img src="images/map.svg" alt="">
                </div>
            </div>
            <div class="foot-down d-flex block">
                <div>
                    © Comfort Heat - офіційний дистриб'ютор
                </div>
                <div>
                    <img src="images/ingsot.svg" alt="">
                    Розроблено в Ingsot
                </div>
            </div>
        </footer>


        
        <script src="jquery-3.3.1.js"></script>
        <script src="owl/owl.carousel.min.js"></script>
        <script src="scripts.js"></script>
    </body>
</html>