
/**** Секция сервис ****/

.service {
	padding: 40px 0 80px;
	border-bottom: 1px solid #BDE3FB;
}

.service h1 {
	font-size: 2.9rem;
	font-weight: 700;
	color: #00407A;
}


@media  (max-width: 480px) {

    .service h1 {
    	font-size: 36px;
    }
}

@media  (max-width: 320px) {

    .service h1 {
    	font-size: 24px;
    }
}

